---

- name: Install Java 1.8
  apt: 
     name: openjdk-8-jdk
     state: present

- name: Add an Apt signing key, uses whichever key is at the URL
  apt_key:
    url: https://pkg.jenkins.io/debian/jenkins-ci.org.key
    state: present 


- name: append the Debian package repository address to the server's sources.list.
  command: echo deb http://pkg.jenkins.io/debian-stable binary/ | sudo tee /etc/apt/sources.list.d/jenkins.lis



- name: Update repositories cache and install jenkins package
  apt:
    name: jenkins
    update_cache: yes
