apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: hello-world
  namespace: default
spec:
  template:
    metadata:
      labels:
        run: hello-world
    spec:
      containers:
      - image: docker.io/fawaz/us.fetchr.sample:latest
        imagePullPolicy: Always
        name: hello-world
        ports:
        - containerPort: 8080
          protocol: TCP
